<div id="decision-partial" style="display: none;">
    <h1 class="w3-jumbo w3-animate-top" style="text-align: center; font-size: 25px !important;">
        Let's select something? If you want go back use this <a data-bind="click: useAnotherLink" style="cursor: pointer; text-decoration: underline">link.</a>.
    </h1>
    
    <div class="buttons-row">
        <button data-bind="click: makeDecision.bind($data, 'Kinosmena')" class="button green-button w100">Kinosmena</button>
        <button data-bind="click: makeDecision.bind($data, 'Джунгли')" class="button green-button w100">Джунгли</button>
        <button data-bind="click: makeDecision.bind($data, 'Пила 8')" class="button green-button w100">Пила 8</button>
    </div>

</div>

