<h3>Пила 8 (2017)</h3>

<p>Жанры: Триллер, Ужасы</p>

<p>Возрастное ограничение: Зрителям, достигшим возраста 18 лет</p>

<p>В кинотеатрах с: 26.10.2017</p>

<p>Длительность фильма: 1 ч. 38</p>

<p>Режиссёр: Майкл Спириг, Питер Спириг</p>

<p>Актёры: Лора Вандервут, Тобин Белл, Каллум Кит Ренни</p>

<p>
    В городе обнаруживают несколько тел, обладатели которых встретили определенно не лучший конец. Все улики указывают на одного человека: Джона Крамера. Но как это возможно? Человек, известный как Пила, мертв уже более десяти лет. Неужели все-таки нашелся тот, кто рискнул подобрать мантию жестокого маньяка?
    Возрастное ограничение фильма, указанное в трейлере, может отличаться от возрастного ограничения, указанного в прокатном удостоверении. В таком случае следует руководствоваться возрастным ограничением, указанном на сайте www.silverscreen.by на странице с описанием фильма.
</p>
