<p>
    Показ пяти лучших короткометражных фильмов минского международного фестиваля Kinosmena 2016. Это последняя возможность увидеть работы прошлого года. Кинокартины стали лучшими по мнению зрителей и жюри. Всего в конкурсе приняли участия 1188 работ из 88 стран мира.
    Фильмы демонстрируются на языке оригинала с русскими субтитрами.
</p>

<h6>1. GAME OF LIFE (Игра жизни)</h6>

<p>Страна: Франция</p>

<p>Режиссер: Vialleton Agnès</p>

<p>Сценарист: Vialleton Agnès</p>

<p>Продюсер: Olivier Gastinel</p>

<p>Жанр: мелодрама</p>

<p>Продолжительность: 00:15:00</p>

<p>Ранним утром на небольшой автостоянке, которая находится Нигде, встречаются Матиас и Алекс. Мужчины хорошо знакомы, однако складывается впечатление, что они очень далеки друг от друга. Несмотря на это, их связывает секрет, и в этом году ничто не помешает им осуществить задуманное. К каким же разоблачениям приведет их загадочное и фантастически-непредсказуемое дело?</p>

<br/>

<h6>2. ПРО ЛЮБОВЬ</h6>

<p>Страна: Россия</p>

<p>Режиссер: Вилена Лангер</p>

<p>Жанр: Лирическая комедия</p>

<p>Продолжительность: 00:15:30</p>

<p>Что такое Любовь? Какой у нее срок и есть ли он? Коля и Оля счастливые молодожены, собирающиеся прожить вместе всю жизнь. До тех пор, пока Оле не понадобилось новое платье. На примерках Коля узнает слишком много о несовершенстве Оли. Зачем это делает старый портной Перельмутер и что дальше будет с Олей...</p>

<br />

<h6>3. ЧАРЛИ И ПОППИ</h6>

<p>Страна: США</p>

<p>Режиссер: Jennifer Potts</p>

<p>Сценарист: Jennifer Potts</p>

<p>Продюсер: Mary Baker</p>

<p>Жанр: мелодрама</p>

<p>Продолжительность: 00:14:25</p>

<p>Столкнувшись с потерей своего любимого деда, молодой человек сидит на платформе железнодорожной станции, где освежает в памяти 20 лет воспоминаний детства, отчаянно ищет способ сохранить дух своего деда в живых.</p>

<br />

<h6>4. CHAMPION</h6>

<p>Страна: Швеция</p>

<p>Режиссер: Måns Berthas</p>

<p>Сценаристы: Daniel Burman, Måns Berthas</p>

<p>Продюсеры: Måns Berthas, Daniel Burman</p>

<p>Жанр: вестерн</p>

<p>Продолжительность: 00:20:00</p>

<p>Суровая середина зимы. Оледеневший брак в захолустной хижине. Мужчина из прошлого возвращается, чтобы отомстить, и давно потерянные чувства оживают. Начинается безмолвная битва, и бесконечному любовному треугольнику приходит конец.</p>

<br />

<h6>5. SAMIRA</h6>

<p>Страна: Германия</p>

<p>Режиссер: Charlotte A. Rolfes</p>

<p>Сценарист: Fentje Hanke</p>

<p>Продюсер: Janina S. Hennemann</p>

<p>Жанр: мелодрама</p>

<p>Продолжительность: 00:15:00</p>

<p>Переводчик вынужден помочь молодой африканской беженке женщина во время ареста полицией в порту Гамбурга. Рутинная работа Януша приводит к неожиданным последствиями.</p>
