<div id="question-partial" style="display: none;">
    <h1 data-bind="text:question.str"
        id="question" class="w3-jumbo w3-animate-top" style="text-align: center;font-size: 25px!important;">
    </h1>
    <div class="input-group" style="padding-top: 20px; margin: auto;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type the answer..." style="width: 300px;">
            <span class="input-group-addon submit">Submin</span>
        </div>
    </div>
    <p id="timer" style="text-align: center"></p>
</div>
